* {
  box-sizing: border-box;
}

body {
  font-family: "Sacramento", cursive;
}

.hidden {
  display: none;
}

.header {
  width: 100%;
  height: 70px;
  padding: 10px 0 0 0;
  line-height: 60px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 32px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main {
  max-width: 1024px;
  margin: 70px auto 0 auto;
  padding: 16px 8px 0 8px;
}

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  width: 100%;
  padding: 8px;
  .inner {
    border-radius: 16px;
    overflow: hidden;
    .photo {
      width: 100%;
      height: auto;
      vertical-align: middle; /* remove the space under image */
      transition: transform 400ms;
    }
    &:hover {
      .photo {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 640px) {
  .item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .item {
    width: calc(100% / 3);
  }
}

@media (min-width: 1024px) {
  .item {
    width: 25%;
  }
}

.footer {
  padding-bottom: 16px;
  text-align: center;
  font-size: 32px;
}
