.item {
  width: 100%;
  padding: 8px;
  .inner {
    border-radius: 16px;
    overflow: hidden;
    /* fix border-radius + overflow: hidden + CSS transform issue in Safari */
    transform: translateZ(0);
    /**/
    .photo {
      width: 100%;
      height: auto;
      transition: transform 400ms;
      /* remove the space under image */
      vertical-align: middle;
      /**/
    }
    &:hover {
      .photo {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 480px) {
  .item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .item {
    width: calc(100% / 3);
  }
}

@media (min-width: 1024px) {
  .item {
    width: 25%;
  }
}
